<!-- <div class="jumbotron">
  <div class="container">
    <h1>Reserve your piece of cattle</h1>
    <p>Choose your choice of cut and have it delivered delivered within 3-5 days</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/order">Reserve</a></p>
  </div>
</div> -->


<div class="jumbotron">
  <h1>Order your choice of cattle.</h1>
  <div class="container-fluid">
    <div>
      <h3>Choose your choice of cut and have it delivered delivered within 3-5 days</h3>
      <p><a class="btn btn-primary btn-lg" role="button" href="/order">Reserve</a></p>
    </div>
  </div>
 </div>
